[Desktop Entry]
Name=Karaoke Mugen
Exec=km-wrapper %U
Terminal=false
Type=Application
Icon=moe.karaokes.mugen
StartupWMClass=moe.karaokes.mugen
Comment=Karaoke playlist manager / player
MimeType=x-scheme-handler/km;
Categories=AudioVideo;
